HELP.md
.gradle
pokeMate/build/classes/
pokeMate/build/sonar/
pokeMate/build/generated/
pokeMate/build/reports/
pokeMate/build/jacoco/
pokeMate/build/jacocoHtml/
pokeMate/build/resources/
pokeMate/build/test-results/
pokeMate/build/tmp/
pokeMate/bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.metadata/
